.main {
  margin-top: -2px;
}

.main__title {
  display: flex;
  height: 200px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__picture {
  margin-right: -75px;
  text-align: center;
}

.main__picture__right {
  margin-left: -75px;
  text-align: center;

}

.main__title__picture {
  height: 398px;
  background: url(../../img/tipss-886x520\ 1.jpg) 50% 50% no-repeat;
  background-size: cover;   
}

.main__title__picture__opacity {
  height: 398px;
  background-color:rgba(0, 99, 178, 0.29) ;
  opacity: 1;
}

.main__picture__title {
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 22px;
  line-height: 37px;
  color: #504A4A;
  margin-top: 62px;
}

.main__picture {
  text-align: center;
}

.main__picture img{
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main__title h1 {
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 42px;
  line-height: 56px;
  color: #000;
}

.main__title p {
  align-items: center;
  width: 870px;
  height: 93px;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000;
}

.main__section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__article {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #6279FF;
  color: #FFFFFF;
  width: 720px;
  height: 353px;
  background: #6279FF;
  box-shadow: 4px 4px 20px rgba(226, 226, 226, 0.59);
}

.main__article__wrapper {
  text-align: left;
}

.main__article__title {
  text-align: left;
}

.main__article__title__p {
  width: 538px;
  height: 155px;
}
