.genius__header__box {
  display: flex;
  justify-content: space-between;
}

.genius__header__logo {
  background-color: blue;
}

.genius__header__logo__a {
  text-decoration: none;
  color: aliceblue;
}

.genius__header__menu {
  display: flex;
}

.genius__header__menu__list__ul {
  display: flex;
  margin-left: 0; 
  padding-left: 0;
}

.genius__header__menu__list__li {
  list-style-type: none;
  text-decoration: none;
}

.genius__header__link {
  text-decoration: none;
  padding-right: 15px;
}